---
title: GraphStream - A Dynamic Graph Library
fancybox: true
menu: home
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html %}

	<body class="is-loading">
		<div id="wrapper" class="fade-in">

			<!-- Intro -->
				<div id="intro">
					<h1>GraphStream</h1>
					<p>GraphStream is a Java library for the modeling and analysis of dynamic graphs. <br/> You can generate, import, export, measure, layout and visualize them.</p>
					<ul class="actions">
						<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
					</ul>
				</div>

			<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo">GraphStream</a>
				</header>

			<!-- Nav -->
			{% include nav.html %}

			<!-- Main -->
				<div id="main">

					<!-- Featured Post -->
						<article class="post featured">
							<header class="major">
								<h2>Watch the demo</h2>
							</header>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/XX5rRF6uxow?controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</article>

					<!-- Posts -->
						<section class="posts">
							<article>
								<header>
									<span class="date">April 24, 2017</span>
									<h2><a href="#">Sed magna<br />
									ipsum faucibus</a></h2>
								</header>
								<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
								<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
								<ul class="actions">
									<li><a href="#" class="button">Full Story</a></li>
								</ul>
							</article>
						</section>

					<!-- Footer -->
						<footer>
							<div class="pagination">
								<!--<a href="#" class="previous">Prev</a>-->
								<a href="#" class="page active">1</a>
								<a href="#" class="page">2</a>
								<a href="#" class="page">3</a>
								<span class="extra">&hellip;</span>
								<a href="#" class="page">8</a>
								<a href="#" class="page">9</a>
								<a href="#" class="page">10</a>
								<a href="#" class="next">Next</a>
							</div>
						</footer>

				</div>

			<!-- Footer -->
			{% include footer.html %}

		</div>

		{% include scripts.html %}
	</body>
</html>
