<h1>
	<a href="/doc/">Documentation</a>
{% if page.docpath %}
	{% assign paths = page.docpath | split:"," %}
	{% for p in paths | split:"," %}
		{% assign i = {{p | split:"|"}} %}
	 / <a href="{{ i[1] }}">{{ i[0] }}</a>
	{% endfor %}
{% endif %}
</h1>

<ul class="subcategories nostyle">
{% for e in include.index.paths %}
	<li>
		<a href="{{ e.href }}" class="nb">
			<i class="fa fa-folder-open-o"></i>{{ e.title }}
		</a>
	</li>
{% endfor %}
</ul>

<ul class="documents nostyle">
{% for d in include.index.documents %}
	<li>
		<a href="{{ d.href }}" class="nb"><i class="fa fa-file"></i>{{ d.title }}</a>
	</li>
{% endfor %}
</ul>
