<h3>
	<a href="/doc/">Documentation</a>
{% if page.docpath %}
	{% assign paths = page.docpath | split:"," %}
	{% for p in paths %}
		{% assign path = p | split:"|" %}
	 / <a href="{{ path[1] }}">{{ path[0] }}</a>
	{% endfor %}
{% endif %}
</h3>

{% if page.latest %}{% include latest_version.html %}{% endif %}

<h1>{{ page.title }}</h1>

{{ content }}

{% if page.versions %}
<h3>Other versions of this document</h3>
<ul>
	{% assign versions = page.versions | split:"," %}
	{% for version in versions %}
	<li><a href="{{ version }}/">Version {{ version }}</a></li>
	{% endfor %}
</ul>
{% endif %}
