<nav id="head" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gs-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="GS" src="{{ "/img/gs-logo-white-tiny.svg" | prepend: site.baseurl }}" height="100%"/>
			</a>
		</div>
		
		<div class="navbar-collapse collapse" id="gs-navbar">
			<ul class="nav navbar-nav">
				<li><a href="/" title="Main page, general information">Home</a></li>
				<li><a href="/download/" title="Download the binaries, source code and developper documentation">Download</a></li>
				<li><a href="/doc/" title="Documents that help you install and uses GraphStream">Documentation</a></li>
				<li><a href="/news/" title="News about GraphStream">News</a></li>
				<li><a href="https://github.com/graphstream/gs-core/issues" title="Issue tracker" >Tracker</a></li>
				<li><a href="/doc/Applications/" title="Scientific and Reasearch Applications that use GraphStream" >Applications</a></li>
			</ul>
		</div>
	</div>
</nav>
