<!-- Nav -->
<nav id="nav">
	<ul class="links">
		<li {% if page.menu == "home" %}class="active"{% endif %}><a href="index.html">Home</a></li>
		<li {% if page.menu == "get-started" %}class="active"{% endif %}><a href="/doc/Tutorials/Getting-Started/">Get Started</a></li>
		<li {% if page.menu == "downloads" %}class="active"{% endif %}><a href="/downloads/">Downloads</a></li>
		<li {% if page.menu == "documentation" %}class="active"{% endif %}><a href="/doc/">Documentation</a></li>
	</ul>
	<ul class="icons">
		<li><a href="https://youtube.com/graphstream" class="icon fa-play"><span class="">Demo</span></a></li>
		<li><a href="https://youtube.com/graphstream" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
		<li><a href="https://github.com/graphstream" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>
</nav>
