<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>

{% if include.extra_js %}
	{% assign jss = include.extra_js | split:',' %}
	{% for js in jss %}
<script type="text/javascript" src="{{ js | prepend: site.baseurl }}"></script>
	{% endfor %}
{% endif %}

<script src="assets/js/main.js"></script>

{% if page.toc %}
<script type="text/javascript" src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.fancybox %}
<script src="{{ "/bower_components/fancyBox/source/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/fancyBox/source/helpers/jquery.fancybox-media.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">jQuery(document).ready(function() {jQuery(".fancybox-media").fancybox({helpers:{media: true}});});</script>
{% endif %}

<script>
var _gaq=[['_setAccount','UA-19598785-1'],['_setDomainName', '.graphstream-project.org'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
