<div class="sidebar">
	<div class="container-fluid">

		<div class="panel panel-default">
			<div class="panel-heading">Last News</div>
			<div class="panel-body">
				<ul class="news nostyle">
				{% for news in site.data.news %}
					<li>
						<a href="{{ news.url }}">
							<span class="date">{{ news.date }}</span>&nbsp; {{ news.title }}
						</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading"><a href="/doc/About-Us/">About Us</a></div>
			<div class="panel-body">
				<p>
				GraphStream is hosted by the <a href="http://www.univ-lehavre.fr/">University of Le Havre</a>. It is initiated and maintained by members of the <a href="http://www.litislab.eu/front-page/themes/reseaux-dinteractions-et-intelligence-collective">RI<sub>2</sub>C</a> research team from the <a href="http://www.litislab.fr/">LITIS</a> computer science lab. 
				</p>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Mailing lists</div>
			<div class="panel-body">
				<div>
					<a href="http://sympa.litislab.fr/sympa/subscribe/graphstream-users" class="email">
						<i class="fa fa-group"></i>
						&nbsp;users@graphstream-project.org
					</a>
				</div>
				<div>
					<a href="http://sympa.litislab.fr/sympa/subscribe/graphstream-dev" class="email">
						<i class="fa fa-group"></i>
						&nbsp;dev@graphstream-project.org
					</a>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Development</div>
			<div class="panel-body">
				<ul>
					<li><a href="/doc/Roadmap/">Roadmap</a></li>
					<li><a href="/doc/API/">API</a></li>
					<li><a href="/doc/Source-Repository/">Source Repository</a></li>
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading"><a href="/doc/">Documentation</a></div>
			<div class="panel-body">
				See the <a href="/doc/">Documentation</a> pages for detailed tutorials and help. See also:
				<ul>
					<li><a href="/doc/Gallery/">Gallery</a></li>
					<li><a href="/doc/Features/">Features</a></li>
					<li><a href="/doc/FAQ/">FAQ</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
