<div class="sidebar">
	<div class="container-fluid">
		{% if page.toc %}
		<div class="panel panel-default">
			<div class="panel-body">
				{% include panel_heading_with_icon.html icon="map-signs" title="Contents" %}
				<nav class="toc-container"><ul id="toc"></ul></nav>
			</div>
		</div>
		{% endif %}
		
		{% if page.versions %}
		<div class="panel panel-default">
			<div class="panel-body">
				{% include panel_heading_with_icon.html icon="code-fork" title="Other versions" %}
				<ul>
					{% assign versions = page.versions | split:"," %}
					{% for version in versions %}
					<li><a href="{{ version }}/">Version {{ version }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		
		{% include latest_news.html %}
		
		<div class="panel panel-default">
			<div class="panel-body">
			{% include panel_heading_with_icon.html icon="question" title="About Us" href="/doc/About-Us/"%}
				<p>
				GraphStream is hosted by the <a href="http://www.univ-lehavre.fr/">University of Le Havre</a>. It is initiated and maintained by members of the <a href="http://www.litislab.eu/front-page/themes/reseaux-dinteractions-et-intelligence-collective">RI<sub>2</sub>C</a> research team from the <a href="http://www.litislab.fr/">LITIS</a> computer science lab.
				</p>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
			{% include panel_heading_with_icon.html icon="group" title="Mailing lists" %}
				<div>
					<a href="http://sympa.litislab.fr/sympa/subscribe/graphstream-users" class="email">
						users@graphstream-project.org
					</a>
				</div>
				<div>
					<a href="http://sympa.litislab.fr/sympa/subscribe/graphstream-dev" class="email">
						dev@graphstream-project.org
					</a>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
			{% include panel_heading_with_icon.html icon="gear" title="Development" %}
				<ul>
					<li><a href="/doc/Roadmap/">Roadmap</a></li>
					<li><a href="/doc/API/">API</a></li>
					<li><a href="/doc/Source-Repository/">Source Repository</a></li>
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
			{% include panel_heading_with_icon.html icon="file" title="Documentation" href="/doc/" %}
				See the <a href="/doc/">Documentation</a> pages for detailed tutorials and help. See also:
				<ul>
					<li><a href="/doc/Tutorials/">Tutorials</a></li>
					<li><a href="/doc/FAQ/">FAQ</a></li>
					<li><a href="/doc/Talks/">Talks</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
