.sidebar {
	padding-bottom:20px;
}

.sidebar .box {
	background: #F0F0F0;
}

.sidebar .title {
	margin: 0.8em 0px 0.4em 0px;
	/*font-weight:600;*/
	font-size: 175%;
}

.sidebar ul.nostyle {
	margin: 0.4em 0px;
}

.sidebar p {
	text-align:justify;
	margin: 0.2em 0px;
}

.sidebar li {
	/*font-size:90%;*/
}

.sidebar .date {
	font-weight:300;
}
