<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html extra_css="/css/doc-index.css" %}

	<body class="is-loading">

		<div id="wrapper" class="fade-in">

			<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">GraphStream</a>
			</header>

			{% include nav.html %}
			<div id="main">
				{{ content }}
			</div>

			{% include footer.html %}
		</div>

    {% include scripts.html %}
  </body>
</html>
