---
layout: base
title: Downloads
---

<h1>{{ page.title }}</h1>

<a class="btn btn-default" href="http://data.graphstream-project.org/pub/">
  <i class="fa fa-search fa-lg"></i> Explore public directory</a>

or

<a class="btn btn-primary" href="http://data.graphstream-project.org/pub/1.x/nightly-build/last">
  <i class="fa fa-moon-o fa-lg"></i> get last nightly builds</a>

<div style="margin-top:25px;">
<ul class="media-list">
{% assign dl_id = 0 %}
{% for dl in site.data.downloads %}
	{% assign dl_id = dl_id | plus:1 %}
	<li class="media">
		<div class="media-left">
			<a data-toggle="collapse" href="#dl{{ dl_id }}" aria-expanded="false" aria-controls="dl{{ dl_id }}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-{% if dl.icon %}{{ dl.icon }}{% else %}expand{% endif %} fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</div>
		<div class="media-body">
			<a data-toggle="collapse" href="#dl{{ dl_id }}" aria-expanded="false" aria-controls="dl{{ dl_id }}" style="font-weight:300;">
				<h4 class="media-heading" style="margin-bottom: 0px;">{{ dl.title }}</h4>show more...</a>
			<div id="dl{{ dl_id }}" class="collapse">
			{{ dl.description }}
			{% for f in dl.files %}
				<div style="margin-top: 10px;">
					<div class="well">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-8">
									<h4>{{ f.name }}</h4>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4" style="text-align: right;">
									<a class="btn btn-success" href="{{ f.href }}"><i class="fa fa-download"></i>&nbsp;Download</a>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="font-weight:300;word-break:break-all;max-width:100%;">
									{{ f.hashMethod }}
									<code style="word-break:break-all;">{{ f.hash }}</code>
								</div>
							</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</li>
{% endfor %}
</ul>
</div>
